<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
	
	
	
</head>
<body>
	<h3>Home page</h3>
	<a href="/googlemap">Google map</a>	<br>
	<a href="/generaterandom">Random string</a>	<br>
	<a href="/goreversedpg">Reverse string</a>	<br>
	<a href="/gotofilterpg">How many above 20 years old</a>	
	

</body>
</html>