<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
	
	
	
</head>
<body>
	
	<h3>Destination: <%= togpspg.destination_addresses %> </h3>
	<h3>From: <%= togpspg.origin_addresses %> </h3>
	<h3>Distance: <%= togpspg2["elements"][0]["distance"]["text"] %> </h3>
	<h3>Duration: <%= togpspg2["elements"][0]["duration"]["text"] %> </h3>
	
	<a href="/">Back to home</a>	<br>

</body>
</html>