<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
	
	
	
</head>
<body>
	
	<h1>This is google map</h1>
	<h3>Please insert correct location in Location and Destination box. You may google for accurate places</h3>
	<h3>For fast example please put "kuala lumpur city center" as location and "plaza metro kajang" as destination</h3>
	<form action="/getdatalocation" method="post">
		<input type="text" name="loc" placeholder="Location">
		<input type="text" name="des" placeholder="Destination">
		
		<button>Go</button>
		<br>
		<a href="/">Back to home</a>	<br>
	</form>
	
	 
	
	

</body>
</html>